# Environnement virtuel
venv/
.env/

# Cache Python
__pycache__/
*.pyc

# Données
dataset/
data/
Tilapia RAS Dataset/

# Modèles entraînés
*.h5
*.keras
*.pt
*.pth

# Logs & outputs
logs/
outputs/
results/

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
